* {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

body {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    margin: 24px 0 12px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.content {
    width: 100%;
    max-width: 380px;
    margin: 16px auto;

    .submit {
        background-color: #eee;
        border: 1px solid #afadad;
        display: flex;
        align-items: center;
        border-radius: 6px;


        button {
            width: 75px;
            height: 75px;
            margin: 4px 16px 4px 4px;
            border-radius: 6px;
            border: 1px solid #afadad;

            .icon {
                width: 50px;
                height: 50px;
            }
        }


    }

    hr {
        margin: 16px 0;
        border: 1px solid #afadad;
    }

    .product {
        &__item {

            margin-top: 20px;
            display: flex;
            width: 300px;
            padding: 8px;
            position: relative;

            .remove-icon {
                position: absolute;
                top: -8px;
                right: -8px;
                display: none;
            }

            &:hover {
                background-color: #e6d4d4;
                border-radius: 6px;

                svg {

                    display: block;
                }


            }

            &__point {
                width: 75px;
                height: 75px;
                background-color: #afadad;
                border: 1px solid #afadad;
                border-radius: 6px;
                margin-right: 16px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

            }

            &__content {

                .buttons {
                    display: flex;
                    justify-content: space-between;
                    margin-top: 10px;

                    .up {
                        display: flex;
                        align-items: center;
                    }

                    .down {
                        display: flex;
                        align-items: center;
                    }
                }
            }
        }
    }

}